<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">FilmApp</h1>
    <p class="lead">This is an app based on films</p>
  </div>
</div>

<div class="container">
  <br>
  <h1>Cartelera</h1>
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-md-12 div-pic-1" [ngStyle]="{'background-image': 'url(http://image.tmdb.org/t/p/w500/pU1ULUq8D3iRxl1fdX2lZIzdHuI.jpg)'}">

        </div>
        <div class="col-sm-6 div-pic-2" [ngStyle]="{'background-image': 'url(http://image.tmdb.org/t/p/w500/pU1ULUq8D3iRxl1fdX2lZIzdHuI.jpg)'}">
        </div>
        <div class="col-sm-6 div-pic-2" [ngStyle]="{'background-image': 'url(http://image.tmdb.org/t/p/w500/pU1ULUq8D3iRxl1fdX2lZIzdHuI.jpg)'}">
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-6 div-pic-2" [ngStyle]="{'background-image': 'url(http://image.tmdb.org/t/p/w500/pU1ULUq8D3iRxl1fdX2lZIzdHuI.jpg)'}">
        </div>
        <div class="col-sm-6 div-pic-2" [ngStyle]="{'background-image': 'url(http://image.tmdb.org/t/p/w500/pU1ULUq8D3iRxl1fdX2lZIzdHuI.jpg)'}">
        </div>
        <div class="col-md-12 div-pic-1" [ngStyle]="{'background-image': 'url(http://image.tmdb.org/t/p/w500/pU1ULUq8D3iRxl1fdX2lZIzdHuI.jpg)'}">

        </div>
      </div>
    </div>
  </div>
</div>
